<mat-toolbar class="footer" color="primary" id="footer">
    <div class="footer-section">
      <h3>Connect with us</h3>
      <div class="icons">
        <a href="https://facebook.com" target="_blank">
          <mat-icon fontIcon="facebook" aria-hidden="true">facebook</mat-icon>
        </a>
        <a href="mailto:info@example.com">
          <mat-icon fontIcon="email" aria-hidden="true">email</mat-icon>
        </a>
      </div>
    </div>
  
    <div class="footer-section">
      <h3>More information</h3>
      <p>+216 99 999 999</p>
      <p>El Ghazela, Tunisia</p>
    </div>
  </mat-toolbar>
  