<mat-toolbar class="navbar">
    <div class="container">
        <!-- Logo -->
    <div class="logo">
        <img src="assests/logo.png" alt="Logo"  />
      </div>
    
      <!-- Navigation Links -->
      <span class="spacer"></span>
      <nav class="nav-links">
        <a mat-button href="#home">Home</a>
        <a mat-button href="#aboutUs" >About Us</a>
        <a mat-button href="#sucessStories" >Success Stories</a>
        <a mat-button href="#footer" >Contact Us</a>
    
        <!-- Login Button -->
        <button mat-button class="auth-button" routerLink="/authenticate">Login</button>
        <!-- Sign Up Button -->
        <button mat-raised-button class="auth-button" routerLink="/register">Sign Up</button>
      </nav>
    </div>
</mat-toolbar>
