<app-home-navbar></app-home-navbar>

<h1 class="">Admin Dashboard</h1>
<div class="container">
<!-- Startup Table -->
<div *ngIf="startups.length > 0">
  <h3 class="mt-4">Startups</h3>
  <table class="user-table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Account Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of startups">
        <td>{{ user.fullname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button (click)="deleteUser(user.id)" class="delete-button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Investor Table -->
<div *ngIf="investors.length > 0">
  <h3 class="mt-4">Investors</h3>
  <table class="user-table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Account Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of investors">
        <td>{{ user.fullname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button (click)="deleteUser(user.id)" class="delete-button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- If no users, show no data message -->
<div *ngIf="startups.length === 0 && investors.length === 0">
  <p>No users available.</p>
</div>

</div>