
<mat-toolbar class="navbar">
    <div class="container">
    <div class="logo">
        <img src="assests/logo.png" alt="Logo"  />
      </div>
    
      <nav class="nav-links">
        <a mat-button routerLink="/home/{{type}}">Home</a>
        <a mat-button routerLink="/profile/{{id}}" >Profile</a>
        <button mat-button *ngIf="type === 'admin'" routerLink="/admin-dashboard" class="auth-button">Admin</button>
        <button mat-button (click)="onLogout()" class="auth-button">Logout</button>
      </nav>
    </div>
</mat-toolbar>
