<mat-toolbar class="navbar">
    <div class="container">
    <div class="logo">
        <img src="assests/logo.png" alt="Logo" />
      </div>
    
      <nav class="nav-links">
        <a mat-button routerLink="/home/{{type}}">Home</a>
        <a mat-button *ngIf="type != 'ROLE_ADMIN'" routerLink="/profile/{{id}}" >Profile</a>
         <!-- Bookings Button -->
         <a mat-button *ngIf="type === 'ROLE_STARTUP_FOUNDER'" routerLink="/booking/startup">Bookings Request</a>
         <a mat-button *ngIf="type === 'ROLE_INVESTOR'" routerLink="/booking/investor">Bookings Request</a>
         <a mat-button *ngIf="type === 'ROLE_INCUBATOR'" routerLink="/booking/incubator">Bookings Request</a>
         <a mat-button *ngIf="type === 'ROLE_PRE_SEED'" routerLink="/booking/preseed">Bookings Request</a>
        <button mat-button *ngIf="type === 'ROLE_ADMIN'" routerLink="/admin-dashboard" class="auth-button">Dashboard</button>
        <button mat-button *ngIf="type === 'ROLE_ADMIN'" routerLink="/admin-requests" class="auth-button">Requests</button>

        <button mat-button (click)="logout()" class="auth-button">Logout</button>
      </nav>
    </div>
</mat-toolbar>
