<app-home-navbar></app-home-navbar>
<div class="page">

<div class="container col-md-8 mt-5 pt-2">
  <!-- Dynamic Heading Based on Type -->
  <h1 *ngIf="type === 'ROLE_ADMIN'" class="mt-5 ">Admin Dashboard</h1>

  <!-- Admin Home Page -->
  <div *ngIf="type === 'ROLE_ADMIN'" class="mt-4">

    <!-- Display All Investors -->
    <div *ngIf="allInvestors.length > 0; else noInvestors" class="row">
      <h3>Investor Details</h3>
      <div *ngFor="let investor of allInvestors" >
        <div class="card effect mb-4 shadow-sm" (click)="onPostClick(investor.id)">
          <div class="card-body">
            <p><strong>Investor Email:</strong> {{ investor.investorEmail }}</p>
            <p><strong>Investment Amount:</strong> {{ investor.investmentAmount }} $</p>
            <p><strong>Message:</strong> {{ investor.message }}</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noInvestors>
      <p>No investors available.</p>
    </ng-template>

    <!-- Display All Startups -->
    <div *ngIf="allStartups.length > 0; else noStartups" class="row">
      <h3>Startup Details</h3>
      <div *ngFor="let startup of allStartups" >
        <div class="card effect mb-4 shadow-sm" (click)="onPostClick(startup.id)">
          <div class="card-header text-center">
            <img *ngIf="type === 'ROLE_ADMIN'" src="http://localhost:5000/uploads/{{startup.StartupLogo}}" alt="Logo" height="80px" width="80px" style="border-radius: 50%;">
          </div>
          <div class="card-body">
            <p><strong>Name:</strong> {{ startup.startupName }}</p>
            <p><strong>Industry:</strong> {{ startup.industry }}</p>
            <p><strong>Description:</strong> {{ startup.briefDescription }}</p>
            <p><strong>Team Number:</strong> {{ startup.teamNumber }}</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noStartups>
      <p>No startups available.</p>
    </ng-template>
  </div>

  <!-- Investor or Startup for Non-Admin -->
  <div *ngIf="type === 'ROLE_INVESTOR'" class="mt-4">
      <h1 >All Startups</h1>
    <div *ngIf="item.length > 0; else noData" class="row">
      <div *ngFor="let entry of item"  class="">
        <div class="card effect mb-4 shadow-sm" (click)="onPostClick(entry.id)">
          <div class="card-header">
            <img *ngIf="isStartup(entry)" src="http://localhost:5000/uploads/{{entry.StartupLogo}}" alt="Logo" height="80px" width="80px" style="border-radius: 50%;">
          </div>
          <div class="card-body">
            <ng-container *ngIf="isStartup(entry)">
              <p><strong>Name:</strong> {{ entry.startupName }}</p>
              <p><strong>Industry:</strong> {{ entry.industry }}</p>
              <p><strong>Team Number:</strong> {{ entry.teamNumber }}</p>
              <p><strong>Startup Email:</strong> {{ entry.startupEmail }}</p>
              <p><strong>Description:</strong> {{ entry.briefDescription }}</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noData>
      <p>No startups available.</p>
    </ng-template>
  </div>

  <div *ngIf="type === 'ROLE_STARTUP_FOUNDER'" class="mt-4">
    <h2>All Investors</h2>
    <div *ngIf="item.length > 0; else noData" class="row">
      <div *ngFor="let entry of item">
        <div class="card effect mb-4 shadow-sm" (click)="onPostClick(entry.id)">
          <!-- <h5 *ngIf="isInvestor(entry)" class="card-header">Investor Details</h5> -->
          <div class="card-body">
            <ng-container *ngIf="isInvestor(entry)">
              <p><strong>Investor Email:</strong> {{ entry.investorEmail }}</p>
              <p><strong>Investment Amount:</strong> {{ entry.investmentAmount }} $</p>
              <p><strong>Message:</strong> {{ entry.message }}</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noData>
      <p>No investors available.</p>
    </ng-template>
  </div>
</div>
</div>
<app-logged-in-footer></app-logged-in-footer>