<!-- thank-you-wrapper -->
<section class="thank-you-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="thank-you-page-content">
            <h1>Your submission has been denied due to incorrect or missing information. We invite you to correct them in your profile. </h1>
            <a href="/edit/profile" class="btn btn-primary arrow-icon">Edit your profile </a>
          </div>
          <ul class="footer-nav">
            <li> <a href="#">Terms and Conditions </a> </li>
            <li> <a href="#"> Privacy Policy </a> </li>
            <li> <a href="#"> FAQ </a> </li>
            <li> <a href="#"> Contact Us </a> </li>
          </ul>
          <div class="thank-you-copy">
            <p> SharkTN &copy; 2024 All Rights Reserved </p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- thank-you-wrapper -->

  <!-- Scripts -->